<mat-grid-list cols="6" rowHeight="2:1">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
        <mat-grid-tile colspan="2" rowspan="1">
            <input type="text" formControlName="title">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <input type="text" formControlName="description">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <button type="submit">Create comment</button>
        </mat-grid-tile>
    </form>
</mat-grid-list>
<mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>
                    {{post?.title}} 
                </h1>
                <h2>
                    by {{post?.user_id}}
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{post?.description}}
            </p>
            <p>
                {{post?.created_at}}
            </p>
        </mat-card-content>
        <mat-card-footer>
            <ul>
                <app-comment ngDefaultControl [comment]="comment" *ngFor="let comment of comments"></app-comment>
            </ul>
        </mat-card-footer>
</mat-card>
