<mat-card>
    <form [formGroup]="editForm">
        <mat-card-header>
            <mat-card-title>
                <p *ngIf="!editor">
                    <button mat-raised-button (click)="seeDiscussion()">                    
                        {{post.title}}
                    </button>
                </p>
                <input formControlName="title" type="text" *ngIf="editor">
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="!editor">
                {{post.description}}
            </p>
            <input formControlName="description" type="text" *ngIf="editor">
        </mat-card-content>
        <mat-card-footer>
            <p>
                {{post.created_at}}
            </p>
            <button mat-button (click)="enableEditor()">Edit</button>
            <button *ngIf="!editor" routerLink="/forum" mat-button (click)="deletePost()">Delete</button>
            <button *ngIf="editor" routerLink="/forum" mat-button (click)="savePost()">Save</button>
        </mat-card-footer>
    </form>
</mat-card>
